{%include 'header.html'%}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Calculation</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Calculation</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

    <!-- Pengaturan model arima dan hari yang di prediksi -->
    <div class="body card-body accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5>Setting</h5>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse {%if arima == 0 %} show {%endif%}" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
          <div class="accordion-body">
            <form class="row g-4" action="" method="post">
              <label class="col-sm-2 col-form-label">Training Data</label>
              <div class="col-md">
                <div class="input-group">
                  <span class="input-group-text" id="inputGroupPrepend2">start</span>
                  <input type="date" class="form-control" id="strdate_tr" aria-describedby="inputGroupPrepend2" name="strdate_tr" value="{{ str_date }}" min="{{ list(df['Date'])[0] }}" max="{{ list(df['Date'])[-1] }}" required>
                </div>
              </div>
              <div class="col-md">
                <div class="input-group">
                  <span class="input-group-text" id="inputGroupPrepend2">end</span>
                  <input type="date" class="form-control" id="enddate_tr" aria-describedby="inputGroupPrepend2" name="enddate_tr" value="{{ end_date }}" min="{{ list(df['Date'])[0] }}" max="{{ list(df['Date'])[-1] }}" required>
                </div>
              </div>
              <input name="day" value="0" hidden>
              <div class="col-md">
                <button class="btn btn-primary" type="submit">Get ARIMA Model</button>
              </div>
              <div></div>
              <div class="col-12">
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% if arima != 0 %}
    <section class="section">
      <div class="row">
        
          <div class="col-lg-8">
            <div class="card">
              <div class="card-body">
               <h5 class="card-title">ARIMA Model Results</h5>
          
                <!-- Result ARIMA Model -->
                {{ table1 | safe }}
                <div></div>
                <div></div>
                {{ table2 | safe }}
                <div></div>
                <div></div>
                {{ table3 | safe }}
                  <!-- End Result ARIMA Model -->
                <div></div>
              </div>
            </div>
          </div>

            <!-- Right side columns -->
            <div class="col-lg-4">

              <!-- ARIMA Model Card -->
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Best Fit ARIMA Model <span></span> </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bx bx-check-square"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ arima_model }}</h6>

                    </div>
                  </div>
                </div>

              </div><!-- End ARIMA Model Card -->


              <!-- Training Card -->
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Interval Training Data <span>| {{ len(date) }}</span> </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-calendar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ date[0] }} - {{ date[-1] }}</h6>

                    </div>
                  </div>
                </div>

              </div><!-- End Training Card -->

              {% if mape == 0 :%} 
                {% if count_ts > 1 :%} 
                  <div class="card">
                    <div class="card-body">
                      <form class="row g-4" method="post">
                        <h5 class="card-title">Testing Data</h5>
                        <div class="row">
                          <div class="col-sm-4">
                            <select id="inputState" name="day" class="form-select">
                              {% for dp in range(1, count_ts) %}
                                <option>{{ dp }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <input id="strdate_tr" name="strdate_tr" value="{{ str_date }}" hidden>
                        <input id="enddate_tr" name="enddate_tr" value="{{ end_date }}" hidden>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit" align="Right">Calculate MAPE</button>
                        </div>
                      </form>
                    </div>
                  </div>
                {% endif %}

              {% else : %}
              <!-- Testing Card -->
                <div class="col-xl">
                  <div class="card info-card sales-card">
        
                    <div class="card-body">
                      <h5 class="card-title">Interval Testing Data <span>| {{ len(ts_date) }} </span></h5>
      
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-calendar"></i>
                        </div>
                        <div class="ps-3">
                          <h6>{{ ts_date[0] }} - {{ ts_date[-1] }} </h6>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- End Testing Card -->

                <!-- MAPE Card -->
                <div class="col-x1">
                  <h5 class="alert alert-info alert-dismissible fade show">MAPE : {{ mape }} </h5>
                </div>
                <!-- End MAPE Card -->

              

            </div><!-- End Right side columns -->

      </div>
    </section>

    <!-- Reports -->
                  
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Prediction Vs Actual Price <span></span></h5>

        <!-- Line Chart -->
        <div id="reportsChart"></div>

        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#reportsChart"), {
              series: [{
                name: 'Prediction',
                data: {{ prediction|tojson }},
              },
              {
                name: 'Actual',
                data: {{ testing|tojson }},
              }],
              chart: {
                height: 500,
                type: 'area',
                toolbar: {
                  show: true
                },
              },
              markers: {
                size: 4
              },
              colors: ['#4154f1', '#2eca6a', '#ff771d'],
              fill: {
                type: "gradient",
                gradient: {
                  shadeIntensity: 1,
                  opacityFrom: 0.3,
                  opacityTo: 0.4,
                  stops: [0, 90, 100]
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth',
                width: 2
              },
              xaxis: {
                type: 'datetime',
                categories: {{ ts_date|tojson }}
              },
              tooltip: {
                x: {
                  format: 'dd/MM/yy'
                },
              }
            }).render();
          });
        </script>
         <!-- End Line Chart -->

      </div>
  
    </div> <!-- End Reports -->
    {%endif%}
    {% endif %}

  </main><!-- End #main -->

  {%include 'footer.html'%}
